{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}


{% block content %}
<section class="home-area overlay" id="home_page">
    <div class="container">
            <div class="contenedor-form" id="formInicio d-none">
                <div class="container-log">
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s">Perfil</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s">Nombre:   {{ user.first_name }} {{user.last_name }}</p>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"> Correo:   {{ user.email }}</p>
                    <div class="space-20"></div>
                    <div class="space-20"></div>
                </div>
                
            </div>
            
    </div>
</section>
{% endblock %}