{% extends 'base.html' %}
{% load static %}



{% block title %}Login{% endblock %}


{% block content %}

<header class="feature-area section-padding-top" id="features_page">
    <div class="container">
        <div class="contenedor-form" id="formInicio d-none">
            <div class="container-log">
                    <h2>Iniciar sesión</h2>
                    
                <form method="post">
                        {% csrf_token %}
                        <input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder="Usuario">
                        <input type="password" name="password" required id="id_password" placeholder="Contraseña">
                        <button type="submit" name="iniciar" id="iniciar" value="login">Iniciar sesión</button>
                </form>

            </div>
        </div>
    </div>
</header>
{% endblock %}