{% extends 'base.html' %}
{% load static %}



{% block title %}Login{% endblock %}


{% block content %}
<header class="feature-area section-padding-top" id="features_page">
    <div class="container">
        <div class="contenedor-form" id="formInicio d-none">
            <div class="container-log">
                    <h2>Iniciar sesión</h2>
                <input id="usuario" type="text" placeholder="Usuario" required>
                <input id="contraseña" type="password" placeholder="Contraseña" required>
                <button type="button" name="iniciar" id="iniciar" value="Login">Iniciar sesión</button>
            </div>
        </div>
    </div>
</header>
{% endblock %}